button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-image: none;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  background-color: #1890ff;
}

.ant-btn-circle.ant-btn-sm.ant-btn-primary:not(.ant-btn-dangerous) {
  background-color: #1890ff;
}
